---
import SectionTitle from "../ui/SectionTitle.astro";
import TeamCard from "../ui/TeamCard.astro";
import Section from "./Section.astro";

const description =
  "Une équipe d'expérience pour te guider dans ton ascension";

// Team images
import p1 from "../../assets/team/t1.png";
import p2 from "../../assets/team/t2.png";
import p3 from "../../assets/team/t3.png";
import p4 from "../../assets/team/t4.png";
import p5 from "../../assets/team/t5.png";
import p6 from "../../assets/team/t6.png";

const team = [
  {
    pic: p1,
    name: "Tom FLAUGERE",
    role: "Fondateur / Ultra-traileur / Expert équipement",
    description: 
      "Passionné par l'aventure et les défis extrêmes, il cumule plus de 10 ans d'expérience en trail et ultra-trail. Depuis son adolescence, il allie musculation et course à pied, une combinaison qui lui permet d'optimiser la performance et la résistance sur les sentiers les plus exigeants. Fort de son parcours en vente et conseil de matériel outdoor, Tom sait exactement quel équipement correspond à tes besoins, pour que tu partes toujours serein et préparé.",
    palmares: "FestaTrail 2024 108 & 4500D+ 15h 5eme et 1er Catégorie. <br /> Grand Trail d'Auvergne 2025 50K & 2000D+, 4h30, 13e/1020. <br />Marathon de Toulouse 2025 2h53 91e/5093"
,
    link: "https://www.instagram.com/tom_flgre/",
  },
  {
    pic: p2,
    name: "David FLAUGERE",
    role: "Fondateur / Traileur / Coach sportif",
    description:
      "Passionné par le dépassement de soi, il pratique la musculation depuis plus de 20 ans et s'est tourné vers le trail en 2017. Avec plusieurs préparations à son actif et un diplôme de coach, il t'accompagne dans ta préparation physique, en alliant force, endurance et technique.",
    palmares: "Eric Favre Men's Physique 2017 - 1ère place",
    link: "https://www.instagram.com/david_flgr",
  }
];
---

<Section id="about">
  <div class="mt-[140px]">
    <SectionTitle sectionTitle="Tes coachs" description={description} />
    <div
      class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 grid-rows-1 gap-10"
    >
      {
        team.map((member, index) => (
          <TeamCard
            key={index}
            pic={member.pic}
            name={member.name}
            role={member.role}
            description={member.description}
            palmares={member.palmares}
            link={member.link}
          />
        ))
      }
    </div>
  </div>
</Section>
