---
import Seo from "../components/seo/Seo.astro";

// Pass the contents to create SEO for the page
const { title, description, image, frontmatter, robots } = Astro.props;
---

<head>
  
  <!-- Google tag (gtag.js) -->
  <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-R3TXGDBSSZ"></script>
  <script is:inline>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-R3TXGDBSSZ');
  </script>
  
  <meta charset="utf-8" />

  <!-- Meta Pixel Code -->
  <script is:inline>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1289578953000950');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1289578953000950&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Meta Pixel Code -->
  <link rel="icon" type="image/png" href="/favicon.ico" />

  <!-- iOS 
  <link rel="apple-touch-icon" sizes="256x256" href="/path/to/your/icon.png" />
  -->
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />

  <title>{title}</title>
  <meta name="description" content={description} />

  <Seo
    {title}
    {description}
    url={Astro.url.toString()}
    {image}
    {frontmatter}
    {robots}
  />

  <!-- Preconnect fonts, images... -->
</head>