---
import Seo from "../components/seo/Seo.astro";

// Pass the contents to create SEO for the page
const { title, description, image, frontmatter, robots } = Astro.props;
---

<head>
  
  <!-- Google tag (gtag.js) -->
  <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-R3TXGDBSSZ"></script>
  <script is:inline>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-R3TXGDBSSZ');
  </script>

  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="/favicon.ico" />

  <!-- iOS 
  <link rel="apple-touch-icon" sizes="256x256" href="/path/to/your/icon.png" />
  -->
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />

  <title>{title}</title>
  <meta name="description" content={description} />

  <Seo
    {title}
    {description}
    url={Astro.url.toString()}
    {image}
    {frontmatter}
    {robots}
  />

  <!-- Preconnect fonts, images... -->
</head>